@charset "UTF-8";

@font-face {
    font-family: 'destaque';
    src: url(fontes/Lovalina\ Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --cor-fundo: #404040;
    --cor-segundaria: #937038;
    --cor-texto-primario: white;

    --font-destaque: 'destaque';
    --font-secundaria: Arial;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-secundaria);
    font-weight: normal;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
}

.nav-bar-left {
    flex: 1;
}

.nav-bar-right > *{
    margin-left: 20px;
}

.logo {
    width: 30px;
}

.nav-bar-right a {
    color: var(--cor-segundaria);
    text-decoration: none;
    font-weight: bold;
}

.nav-bar-right a:hover {
    text-decoration: underline;
}

header {
    background-image: url(img/pizzagrande1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.205);;
}

header h1 {
    color: white;
    font-family: var(--font-destaque);
    text-align: center;
    padding-top: 60px;
    font-size: 3.0em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199);
}

header p {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199);
}

header button {
    display: block;
    margin: auto;
    border: none;
    padding: 13px 20px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background-color: var(--cor-segundaria);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}

header button:hover{
    background-color: #886733;
    transition: 0.3s;
    cursor: pointer;
}

main h2 {
    text-align: center;
    color: white;
    font-family: var(--font-destaque);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.9em;
    padding-left: 30px;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199);
}

.sobre-container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.sobre-container img {
    max-width: 450px;
    min-width: none;
    margin-left: 2%;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.205);
}

.sobre-texto {
    max-width: 400px;
    color: white;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.226);
    line-height: 1.5em;
    text-align: justify;
}

@media (max-width: 800px) {
    .sobre-container {
        flex-direction: column;
        text-align: center;
    }

    .sobre-texto {
        max-width: 90%;
    }

    .sobre-container img {
        width: 90%;
    }
}
.menu {
    display: inline-block;
    margin: 0px 2%;
    transition: transform 0.8s ease;
}

.menu img {
    width: 100%;
    min-width: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.116);
}

#mae .menu:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.menu p , h3 {
    text-align: center;
    padding-top: 10px;
    background-color: white;
    height: 35px;
    margin-top: -5px;
}

.menu p {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(58, 58, 58);
}

#mae {
    display: flex;
    justify-content: center;
}

footer {
    position: relative;
    background-color: #937038;
    margin-top: 30px;
    padding: 6px;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
}

.rodape-container {
    display: inline-flex;
    gap: 40px;
    align-items: center;
}

.rodape-container > img{
    height: 70px;
    justify-content: center;
    position: absolute;
    left: 30px;
}

.rodape-redes > a > img{
    height: 25px;
    margin: 7px 6px;
}

.rodape-redes > p {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.116);
    line-height: 1.5em;
}