@charset "UTF-8";

@font-face {
    font-family: 'destaque';
    src: url(fontes/Lovalina\ Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --cor-fundo: #404040;
    --cor-segundaria: #937038;

    --font-destaque: 'destaque';
    --font-secundaria: Arial;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-secundaria);
    font-weight: normal;
}

nav {
    color: var(--cor-segundaria);
    text-align: right;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

nav a {
    color: var(--cor-segundaria);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    padding-right: 15px;
}

nav a:hover{
    text-decoration: underline;
    transition: 0.5s;
    background-color: #937038;
    color: white;
}

nav img {
    width: 25px;
    padding-top: 10px;
}

header {
    background-image: url(img/pizzagrande1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.205);;
}

header h1 {
    color: white;
    font-family: var(--font-destaque);
    text-align: center;
    padding-top: 60px;
    font-size: 3.0em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199);
}

header p {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.199);
}

header button {
    display: block;
    margin: auto;
    border: none;
    padding: 13px 20px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background-color: var(--cor-segundaria);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
}